services:
  f5-demo-nginx:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: f5-demo-nginx
    ports:
      - "${ADDRESS:-0.0.0.0}:${HTTP_PORT:-80}:80"
      - "${ADDRESS:-0.0.0.0}:${HTTPS_PORT:-443}:443"
#    environment:
      #- F5DEMO_NODENAME=pool-member-one
      #- F5DEMO_COLOR=a0bf37
      #- F5DEMO_COLOR_SSL=37a0bf
    restart: unless-stopped
